/* 
    Created on : 14-nov-2019, 20:07:49
    Author     : RVS
*/

body{
  font-family: Roboto , sans-serif;
  box-sizing: content-box;
}

h1{
  width: fit-content;
  height: auto;
  text-align: center;
  background: #ff9999;
  margin: 1% auto;
  padding: 2%;
}

h2 {
  width: fit-content;
  height: auto;
  padding: 2%;
  text-align: center;
  background: #ff9999;
}

.main{
  width: auto;
  height: 100px;
  padding: 1%;
  display: flex;
  flex-flow: row wrap;

  display: -webkit-flex;
}

.main--deco{
  text-align: center;
  font-size: 1em;
  background: #777;
  border: 1px solid #c3c3c3;
}

.flex-order {
  width: fit-content;
  font-weight: bolder;
  font-family: Roboto , sans-serif;
  line-height: 90px;
}

.item-deco {
  background: #e3fdfd;
  flex-grow: 1;
}

.item-child {
  background: #cbf1f5;
  flex-grow: 3;
}

.item-3 {
  background: #a6e3e9;
  flex-grow: 1;
}

.item-4 {
  background: #71c9ce;
  flex-grow: 1;
}

.item-5 {
  background: #00cccc;
  flex-grow: 3;
}