/* 
    Created on : 14-nov-2019, 14:24:24
    Author     : RVS
*/

body{
  box-sizing: content-box;
  font-family: 'Raleway', sans-serif;
  background: #e3fdfd;
}

.header-top {
  width: 25%;
  margin: 1% auto;
  padding: 1%;
}

.top--deco {
  border-radius: 7px;
  background: #a6e3e9;
}

.title-top {
  padding: 1%;
}

.title--deco {
  font-weight: bolder;
  text-align: center;
  border-radius: 7px;
  background: #71c9ce;
}

.container-column-justify{
  width: 50%;
  height: 140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.column-justify--deco{
  background: #777;
}

.item-justify{
  width: 150px;
  height: content-box;
}

.flex-item {
  font-family: Dosis , sans-serif;
  border: 1px solid #000;
  padding: 1%;
}

.item-deco , 
.item-child , 
.item-3 , 
.item-4 , 
.item-5 , 
.item-6 , 
.item-7{
  text-align: center;
  background: #a6e3e9;
  border: 1px solid #000;
}
